html,
body {
  height: 100%;

  min-height: 100%;

  max-height: 100%;
}

body {
  background-repeat: no-repeat;

  background-size: cover;

  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}

h1 {
  text-align: center;

  font-size: 3rem;

  color: gold;

  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

  font-family: serif;

  background-color: green;
}

#text {
  text-align: center;

  font-size: 1.3rem;

  color: antiquewhite;

  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

  font-family: serif;

  padding: 10px;

  border: 2px solid red;
}

#optional {
  font-size: 1.3rem;

  color: rgb(0, 0, 0);

  font-weight: bold;

  margin-bottom: -0.8rem;

  margin-top: 3rem;

  background-color: rgb(0, 255, 0);

  width: 6%;

  border-radius: 5px;

  text-shadow: 0 0 2px #8b0000, 0 0 2px #0300d1;
}

#sequence,
#array {
  height: 3rem;

  width: 19rem;

  border-radius: 1rem;

  /* background-image: url(https://images.unsplash.com/photo-1529078155058-5d716f45d604?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80); */

  background-repeat: no-repeat;

  background-size: cover;

  background-color: aquamarine;
}

form {
  padding-top: 1rem;
}

input::placeholder {
  font-size: 1rem;

  color: rgb(0, 255, 115);

  font-weight: bolder;

  background: rgb(0, 0, 0);
}

input[id="array"]::placeholder {
  width: 81.5%;
}

input[id="sequence"]::placeholder {
  width: 93%;
}

#sequence {
  margin-bottom: 0.1rem;
}

button {
  background-color: grey;

  color: white;

  width: 5rem;

  height: 2rem;

  font-size: 1rem;

  cursor: pointer;

  border-radius: 10px;

  border: none;

  font-weight: bold;

  font-style: italic;

  margin-top: 1rem;
}

button:hover {
  background-color: green;
}

input {
  font-size: 1rem;
}

#result {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: aquamarine;
  width: 15%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px aquamarine;
  margin-top: 3rem;
}
